@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content {
    background-color: #f6f9ff;
    padding: 40px;
  }
  
  .about h3 {
    font-size: 14px;
    font-weight: 700;
    color: #4154f1;
    text-transform: uppercase;
  }
  
  .about h2 {
    font-size: 24px;
    font-weight: 700;
    color: #106eea;
    font-family: 'Prata', serif;
  }
  
  .about p {
    margin: 15px 0 30px 0;
    line-height: 24px;
  }
  
  .about .btn-read-more {
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
  }
  
  .about .btn-read-more span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
  }
  
  .about .btn-read-more i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
  }
  
  .about .btn-read-more:hover i {
    transform: translateX(5px);
  }

  
  /* ==============================
       about end 
  =================================*/


/*--------------------------------------------------------------
# Recent Blog Posts
--------------------------------------------------------------*/
.recent-blog-posts .post-box {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
    height: 100%;
    overflow: hidden;
    padding: 30px;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .recent-blog-posts .post-box .post-img {
    overflow: hidden;
    margin: -30px -30px 15px -30px;
    position: relative;
  }
  
  .recent-blog-posts .post-box .post-img img {
    transition: 0.5s;
  }
  
  .recent-blog-posts .post-box .post-date {
    font-size: 16px;
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
    display: block;
    margin-bottom: 10px;
  }
  
  .recent-blog-posts .post-box .post-title {
    font-size: 24px;
    color: #012970;
    font-weight: 700;
    margin-bottom: 18px;
    position: relative;
    transition: 0.3s;
  }
  
  .recent-blog-posts .post-box .readmore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
  }
  
  .recent-blog-posts .post-box .readmore i {
    line-height: 0;
    margin-left: 4px;
    font-size: 18px;
  }
  
  .recent-blog-posts .post-box:hover .post-title {
    color: #4154f1;
  }
  
  .recent-blog-posts .post-box:hover .post-img img {
    transform: rotate(6deg) scale(1.2);
  }


  /* Sections Header
--------------------------------*/
.section-header1 {
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 20px;
  }
  
  .section-header1::before {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 2px;
    border-radius: 25px;
    background: #106eea;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  
  .section-header1 h2 {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
    font-family:sans-serif;
    text-transform: uppercase;
    color: #106eea;
  }

  .section-with-bg {
    background-color: #f6f7fd;
  }