<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Mirzacho'l Axborot-kutubxona markazi | Tadbirlar</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- ICONS -->
  <!-- <link href="assets/img/favicon.png" rel="icon"> -->
  <!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->


  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/ssets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/assets/css/style2.css}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/assets/css/ab.css}">
  <!-- =======================================================

  ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <h1 class="logo"><a th:href="@{/home}">mirzacholakm<span>.uz</span></a></h1>
    <!-- image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a> -->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" th:href="@{/home}">Bosh sahifa</a></li>
        <li class="dropdown scrollto"><a th:href="@{/books}"><span>Kitoblar</span></a>
        </li>
        <li class="dropdown scrollto"><a href=""><span>Bo'limlar</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a class="scrollto" th:href="@{/abonement-va-foydalanuvchilarga-xizmat-korsatish-xizmati}">Abonement va foydalanuvchilarga xizmat ko‘rsatish xizmati</a></li>
            <li><a class="scrollto" th:href="@{/axborot-bibliografiya-xizmati}">Axborot-bibliografiya xizmati</a></li>
            <li><a class="scrollto" th:href="@{/fondlarni-toldirish-saqlash-ishlov-berish-xizmati}">Fondlarni to‘ldirish, saqlash ishlov berish xizmati</a></li>
            <li><a class="scrollto" th:href="@{/axborot-kommunikatsiya-texnalogiyalari-va-raqamlashtirish-xizmati}">Axborot kommunikatsiya texnalogiyalari va raqamlashtirish xizmati</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" th:href="@{/event/all}">Tadbirlar</a></li>
        <li><a class="nav-link scrollto" th:href="@{/news}">Yangiliklar</a></li>
        <li><a class="nav-link scrollto " th:href="@{/about/us}">Biz haqimizda</a></li>
        <li><a class="nav-link scrollto " th:href="@{/cantact}">Biz bilan bog'lanish</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </i>
    </nav>

    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->

  <main id="main">

    
    <!-- ======= Biz haqimizda Section ======= -->
    <section id="about" class=" mb-5" style="max-height: 2500px;">

      <div class="container" data-aos="fade-up" >
        <header class="section-header1">
          <h2>Biz haqimizda</h2>
        </header>
        <a th:href="@{/event/all}" class="btn btn-primary my-3">Barcha tadbirlar</a>
        <div class="row border p-4 mb-5" style="" th:each = "tadbir : ${Tadbirlar}">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <h2 th:text = "${tadbir.sarlavha}"></h2>
            <p th:text = "${tadbir.text}"></p>
          </div>
          <div class="col-lg-6 img mt-md-3 mt-sm-3 d-lg-block mt-2" style="height: 540px; float: left;">
            <img th:src="@{${'/tadbirlar/img/'+tadbir.id}}" class="card-img-top" alt="yangilik uchun rasm!" width="100%" height="100%">
          </div>
        </div>

        <div class="container border">
          <header class="py-3">
            <h2>Tadbirdan fotalar</h2>
          </header>
          <div class="row" th:each = "tadbir1 : ${Tadbirlar}">

            <div class="col-lg-4 col-md-6 col-sm-12 p-3" style="height: 400px;">
              <img th:src="@{${'/tadbirlar1/img/'+tadbir1.id}}" class="card-img-top" alt="yangilik uchun rasm!" width="100%" height="100%">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-3" style="height: 400px;">
              <img th:src="@{${'/tadbirlar2/img/'+tadbir1.id}}" class="card-img-top" alt="yangilik uchun rasm!" width="100%" height="100%">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-3" style="height: 400px;">
              <img th:src="@{${'/tadbirlar3/img/'+tadbir1.id}}" class="card-img-top" alt="yangilik uchun rasm!" width="100%" height="100%">
            </div>
          </div>
        </div>


      </div>

    </section><!-- End Biz haqimizda Section -->


  </main>

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>mirzacholakm<span>.uz</span></h3>
          <p>
            Mirzacho‘l tumani<br>
            Mustaqillik MFY<br>
            O‘zbekiston ko‘chasi, 29-uy <br><br>
            <strong>Phone:</strong> +998 (99) 777 48-93<br>
            <strong>Email:</strong> mirzachol_akm@natlib.uz<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Foydali havolalar</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a th:href="@{/home}">Bosh sahifa</a></li>
            <li><i class="bx bx-chevron-right"></i> <a th:href="@{/books}">Kitoblar</a></li>
            <li><i class="bx bx-chevron-right"></i> <a th:href="@{/news}">Yangiliklar</a></li>
            <li><i class="bx bx-chevron-right"></i> <a th:href="@{/about}">Biz haqimizda</a></li>
            <li><i class="bx bx-chevron-right"></i> <a th:href="@{/cantact}">Biz bilan aloqa qiling</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Bo'limlar</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a th:href="@{/abonement-va-foydalanuvchilarga-xizmat-korsatish-xizmati}">Abonement va foydalanuvchilarga xizmat ko‘rsatish xizmati</a></li>
            <li><i class="bx bx-chevron-right"></i> <a th:href="@{/axborot-bibliografiya-xizmati}">Axborot-bibliografiya xizmati</a></li>
            <li><i class="bx bx-chevron-right"></i> <a th:href="@{/fondlarni-toldirish-saqlash-ishlov-berish-xizmati}">Fondlarni to‘ldirish, saqlash ishlov berish xizmati</a></li>
            <li><i class="bx bx-chevron-right"></i> <a th:href="@{/axborot-kommunikatsiya-texnalogiyalari-va-raqamlashtirish-xizmati}">Axborot kommunikatsiya texnalogiyalari va raqamlashtirish xizmati</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Bizning ijtimoiy tarmoqlarimiz</h4>
          <p>Biz ijtimoiy tarmoqlarimiz orqali kuzatib boring
          </p>
          <div class="social-links mt-3">
            <a href="https://www.youtube.com/channel/UCtPS7RSE10r2691hIdOkQQg/featured" class="twitter"><i class="bx bxl-youtube"></i></a>
            <a href="https://www.facebook.com/groups/2783414248651805/?ref=share" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/mirzachol_akm?r=nametag" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://t.me/MT_AKM" class="google-plus"><i class="bx bxl-telegram"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-4">
    <div class="copyright1 text-center">
      <p style="font-size: 12px;">Barcha materiallar www.mirzacholakm.uz saytiga tegishli bolib O‘zbekiston Respublikasi "Mualliflik huquqlari va turdosh huquqlari" qonuni bilan himoyalangan.</p>
      &copy; <strong><span>mirzacholakm.uz</span> 2022</strong>
    </div>
  </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
</svg></i></a>
    
      <!-- Vendor JS Files -->
      <script th:src="@{/assets/vendor/purecounter/purecounter_vanilla.js}"></script>
      <script th:src="@{/assets/vendor/aos/aos.js}"></script>
      <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
      <script th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>
      <script th:src="@{/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
      <script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
      <script th:src="@{/assets/vendor/waypoints/noframework.waypoints.js}"></script>
      <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>
    
      <!-- Template Main JS File -->
      <script th:src="@{/assets/js/main.js}"></script>
    
    </body>
    
    </html>