<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Mirzacho'l Axborot-kutubxona markazi | Yangiliklar</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

  <link rel="stylesheet" th:href="@{/css/all.min.css}">

  <link rel="stylesheet" th:href="@{/css/test.min.css}">
  <!-- Favicons -->
  <link href="assets1/img/favicon.png" rel="icon">
  <link href="assets1/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/assets1/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/assets1/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/assets1/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/assets1/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/assets1/vendor/quill/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/assets1/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/assets1/vendor/simple-datatables/style.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/assets1/css/style.css}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a th:href="@{/admin}" class="logo d-flex align-items-center">
        <!--        <img src="assets1/img/logo.png" alt=""> -->
        <span class="d-none d-lg-block">mirzacholakm.uz</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar text-center text-primary">
      <h3>Yangiliklar oynasi</h3>
    </div><!-- End Search Bar -->


  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed " th:href="@{/admin}">-->
<!--          <i class="bi bi-grid"></i>-->
<!--          <span>Boshqaruv paneli</span>-->
<!--        </a>-->
<!--      </li>-->
      <!-- End Dashboard Nav -->

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/addbook}">
          <i class="bi bi-bookmarks-fill"></i>
          <span>Elektron kitoblar</span>
        </a>
      </li>
      <!-- End Profile Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/ijara/books}">
          <i class="bi bi-calendar-date-fill"></i>
          <span>Ijara kitoblar</span>
        </a>
      </li>
      <!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/qr/books}">
          <i class="bi bi-qr-code-scan"></i>
          <span>QR kodli kitoblar</span>
        </a>
      </li>
      <!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed bg-primary text-white" th:href="@{/addNew}">
          <i class="bi bi-globe2 text-white"></i>
          <span>Yangiliklar</span>
        </a>
      </li>

      <!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/bolim/one}">
          <i class="bi bi-journal-text"></i>
          <span>Bo'limlar</span>
        </a>
      </li>

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed " data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">-->
<!--          <i class="bi bi-journal-text "></i><span>Bo'limlar</span><i class="bi bi-chevron-down ms-auto"></i>-->
<!--        </a>-->
<!--        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">-->
<!--          <li>-->
<!--            <a th:href="@{/bolim/one}">-->
<!--              <i class="bi bi-circle"></i><span>Abonement va foydalanuvchilarga xizmat ko‘rsatish xizmati</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a th:href="@{/bolim/two}">-->
<!--              <i class="bi bi-circle"></i><span>Axborot-bibliografiya xizmati</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a th:href="@{/bolim/three}">-->
<!--              <i class="bi bi-circle"></i><span>Fondlarni to‘ldirish, saqlash ishlov berish xizmati</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a th:href="@{/bolim/four}">-->
<!--              <i class="bi bi-circle"></i><span>Axborot kommunikatsiya texnalogiyalari va raqamlashtirish xizmati</span>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>-->
      <!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/tadbirlar}">
          <i class="bi bi-calendar-event-fill"></i>
          <span>Tadbirlar</span>
        </a>
      </li>
      <!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/contact-us-panel}">
          <i class="bi bi-geo-alt"></i>
          <span>Manzil</span>
        </a>
      </li><!-- End Biz bilan bog'lanish Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/about-uz-panel}">
          <i class="bi bi-microsoft-teams"></i>
          <span>Biz haqimizda</span>
        </a>
      </li>
      <!-- End Biz haqimizda Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/users}">
          <i class="bi bi-microsoft-teams"></i>
          <span>Users</span>
        </a>
      </li>
      <!-- End Users Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/ijaraberilgan}">
          <i class="bi bi-microsoft-teams"></i>
          <span>Ijaraga berilgan kitoblar</span>
        </a>
      </li>
      <!-- End Users Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed " th:href="@{/parol}">
          <i class="bi bi-key-fill "></i>
          <span>Parol</span>
        </a>
      </li>
    </ul>
  </aside>
  <!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Yangilik joylash</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Home</a></li>
          <li class="breadcrumb-item active">Yangilik joylash</li>
        </ol>
      </nav>
    </div>

    <!-- =================== go jadval ==================== -->

    <section id="jadval">
      <div class="row">
        <div class="headers text-center text-primary mb-2">
          <h2>Yangilik qo'shish</h2>
        </div>
        <div class="col-lg-12">
          <button class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#insert">Yangilik
            qo'shish</button>
          <div class="scrols" style="overflow-x: scroll; max-width: 100%; min-width: 300px;">
            <table class="table table-bordered border-primary mr-5 text-center" id="table1"
              style="min-width: max-content;">
              <thead>
                <tr class="bg-primary text-white" >
                  <th scope="col">#</th>
                  <th scope="col">Yangilik nomi</th>
                  <th scope="col">Yangilik vaqti</th>
                  <th scope="col" style="display: none">Yangilik izoh</th>
                  <th scope="col">Yangilik muqovasi</th>
                  <th scope="col">Tahirlash / O'chirish</th>
                </tr>

              </thead>
              <tbody id="tbody">

              <tr th:each = "kitob : ${FullYangilik}">
                <td scope="row" th:text = "${kitob.id}"></td>
                <td th:text = "${kitob.nomi}"></td>
                <td th:text = "${kitob.date}"></td>
                <td th:text = "${kitob.izoh}" style="overflow-x: scroll; max-width: 200px; min-width: 70px; display: none"></td>



                <td style="width: 50px; height: 70px"> <img th:src="@{${'/image/new/'+kitob.id}}" class="card-img-top" alt="rasm" width="100%" height="100%">      </td>
                <td>
                  <div class="btn btn-success px-3 mx-3" data-bs-toggle="modal" data-bs-target="#editModal" th:data-editid="${kitob.id}" id="tahirlashBtn">
                    <i class="bi bi-pencil-fill"></i> Tahirlash</div>
                  <div class="btn btn-danger px-3 mx-3" data-bs-toggle="modal" data-bs-target="#delete" th:data-editid="${kitob.id}" id="deleteBtn">
                    <i class="bi bi-trash3-fill mr-2"></i> O'chirish</div>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>


    </section>

    <!-- =================== end jadval ==================== -->


    <hr class="my-5">

    <!-- ======================= Qo'shish Modal ================== -->

    <div class="modal fade " id="insert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true" style="box-shadow: 50px 50px 100px rgba(0 ,0,0,0);">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-primary">Yangilik qo'shish</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="qoshishText">
            <form id="formid">
              <div class="row">

                <div class="col-lg-6">
                  <div class="user my-3 text-left">
                    <label class="text-primary">- Yangilik nomi!</label>
                    <div class="input-group">
                      <input class="form-control" type="text" id="yangilikNomi" name="yangilikNomi" placeholder="Yangilik nomini kiriting!"
                        required>
                    </div>
                  </div>
                  <div class="user my-3 text-left">
                    <label class="text-primary">- Yangilik vaqti!</label>
                    <div class="input-group">
                      <input class="form-control" type="date" id="yangilikDateTime" name="yangilikDateTime"
                        placeholder="Yangilik vaqtini kiriting!" required>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">

                  <div class="user my-3 text-left">
                    <label class="text-primary">- Kitob muqovasi!</label>
                    <div class="input-group">
                      <input class="form-control" type="file" id="kitobMuqova" name="kitobMuqova" required>
                    </div>
                  </div>

                  <div class="user my-3 text-left">
                    <label for="izoh" class="text-primary"> - Izoh</label>
                    <div class="form-floating">
                      <textarea class="form-control" placeholder="Leave a comment here" id="izoh" name="izoh"></textarea >
                    </div>
                  </div>

                </div>
              </div>
            </form>
            <small class="ml-3 text-danger text-left" id="insertError"></small>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="closeQosh" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="qoshBtn">Qo`shish</button>
          </div>
        </div>
      </div>
    </div>

    <!-- ======================= end Qo'shish Modal ================== -->


    <!-- ======================= Edit Modal ================== -->

    <div class="modal fade " id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true" style="box-shadow: 50px 50px 100px rgba(0 ,0,0,0);">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger mr-3" id="textId"></h5>
            <h5 class="modal-title text-primary" id="text01"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="editText">
            <form id="editForm">
              <div class="row">
                <input type="text" name="editId" id="editId" style="display: none">
                <div class="col-lg-6">
                  <div class="user my-3 text-left">
                    <label class="text-primary">- Yangilik nomi!</label>
                    <div class="input-group">
                      <input class="form-control" type="text" id="editName" name="editName" placeholder="Yangilik nomini kiriting!"
                             required onkeyup="editName1()">
                    </div>
                  </div>
<!--                  <div class="user my-3 text-left">-->
<!--                    <label class="text-primary">- Yangilik vaqti!</label>-->
<!--                    <div class="input-group">-->
<!--                      <input class="form-control" type="date" id="editDate" name="editDate"-->
<!--                             placeholder="Yangilik vaqtini kiriting!" required>-->
<!--                    </div>-->
<!--                  </div>-->
                </div>
                <div class="col-lg-6">

                  <div class="user my-3 text-left">
                    <label class="text-primary">- Kitob muqovasi!</label>
                    <div class="input-group">
                      <input class="form-control" type="file" id="editMuqova" name="editMuqova" required onkeyup="editMuqova1()">
                    </div>
                  </div>



                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="user my-3 text-left">
                    <label for="izoh" class="text-primary"> - Izoh</label>
                    <div class="form-floating">
                      <textarea class="form-control h-50" rows="10" cols="50" placeholder="Leave a comment here" id="editIzoh" name="editIzoh" onkeyup="editIzoh()"></textarea >
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <small class="ml-3 text-danger text-left" id="editError"></small>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="editCloseBtn" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="editAddBtn">Tahirlash</button>
          </div>
        </div>
      </div>
    </div>

    <!-- ======================= end Edit Modal ================== -->

    <!-- delete modal -->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Yangilikni o'chirish</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex">
        <h2 id="deleteIdtext" class="text-danger"></h2>
        <h3 id="deleteText"> - id malumotni o'chirish!</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="newDelete">O'chirish</button>
      </div>
    </div>
  </div>
</div>


<!-- ===================================== end delete modal =========================== -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; <strong><span>mirzacholakm.uz 2022</span></strong>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/test.min.js}"></script>

  <script th:src="@{/js/demo.js}"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <!-- Vendor JS Files -->

  <script src="assets1/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets1/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets1/vendor/chart.js/chart.min.js"></script>
  <script src="assets1/vendor/echarts/echarts.min.js"></script>
  <script src="assets1/vendor/quill/quill.min.js"></script>
  <script src="assets1/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets1/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets1/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets1/js/main.js"></script>

  <script type="text/javascript">

    var baseUrl = window.location.origin;
    var unversalId;

    $("#table1").on("click","tbody tr #tahirlashBtn", function (e){
      $tr=$(this).closest('tr');
      var data = $tr.children("td").map(function (){
        return $(this).text();
      }).get();

      if (data[0]!=null){
        $('#textId').html("ID - "+data[0]);
        $('#editId').val(data[0]);
        $('#text01').html("    Malumotni tahirlash");
        $('#editName').val(data[1]);
        $('#editDate').val(data[2]);
        $('#editIzoh').val(data[3]);
      }
    });

    // $(document).ready(function (){
    //   $(document).on("click","#tahirlashBtn",function (){
    //     var id = $(this).data("editid");
    //     alert(id)
    //     getnews1(id);
    //   })
    // })
    //
    // function getnews1(id){
    //   console.log(baseUrl+"/api/selectNews/"+id+"")
    //   $.ajax({
    //     url: baseUrl + "/api/selectNews/"+id+"",
    //     type: 'GET',
    //     dataType:"json",
    //     success:function (data){
    //       $("#editName").val(data.nomi)
    //       $("#editDate").val(data.date)
    //       $("#editIzoh").val(data.izoh)
    //     },
    //     error: function (error){
    //       alert("xatolik");
    //       console.log(error)
    //     }
    //   })
    // }

    $(document).ready(function (){
      $(document).on("click","#deleteBtn",function (){
        var id = $(this).data("editid");
        $("#deleteIdtext").html(id);
      })
    })

    $(document).ready(function (){
      $(document).on("click","#newDelete",function (){
        var id = $("#deleteIdtext").text();

        $.ajax({
          url: baseUrl+"/api/newDelete/"+id+"",
          type: "DELETE",
          success: function (){
            $('#delete').modal('hide');
            window.location = "/addNew";
          },
          error: function (error){
            alert(error);
          }
        })
      })
    })

    $(document).ready(function () {
      $(document).on("click","#qoshBtn", function (){

        var from=$('#formid')[0];
        var data=new FormData(from);

        $.ajax({
          url:baseUrl+"/api/savanew",
          type: 'POST',
          enctype: 'multipart/form-data',
          data: data,
          processData: false,
          contentType: false,
          cache: false,
          success: function (data , status , info){
            if(info.status=="200"){
              document.getElementById("insertError").innerText="joylandi";
              // $('#insertError').delay(2000).fadeOut('slow');
              // clearBook();
              $("#insert").modal('hide')
              window.location = "/addNew";
            }
            else if(info.status=="208"){
              document.getElementById("insertError").innerText=data;
              $('#insertError').delay(5000).fadeOut('slow');
            }
          },
          error: function (error){
            alert(error);
            console.log(error);
          }
        })
      })
    })

  //  EDIT NEWS  //

    function editName1(){
      var editName = $('#editName').val();
      if (editName===""){
        document.getElementById("editName").style.border = '2px solid red';
      }else{
        document.getElementById("editName").style.border = '2px solid green';
      }
    }

    function editMuqova1(){
      var editMuqova = $('#editMuqova').val()
      if (editMuqova===""){
        document.getElementById("editMuqova").style.border = '2px solid red';
      }else{
        document.getElementById("editMuqova").style.border = '2px solid green';
      }
    }

    function editIzoh(){
      var editizoh = $('#editIzoh').val()
      if (editizoh===""){
        document.getElementById("editIzoh").style.border = '2px solid red';
      }else{
        document.getElementById("editIzoh").style.border = '2px solid green';
      }
    }

    $(document).ready(function () {
      $(document).on("click","#editAddBtn", function (){

        var from=$('#editForm')[0];
        var data=new FormData(from);

        var editName = $('#editName').val()
        var editizoh = $('#editIzoh').val()
        var editMuqova = $('#editMuqova').val()

        if(editName!=="" && editizoh!==""){
          $.ajax({
            url:baseUrl+"/api/editnews",
            type: 'PUT',
            enctype: 'multipart/form-data',
            data: data,
            processData: false,
            contentType: false,
            cache: false,
            success: function (data , status , info){
              if (info.status=="200"){
                window.location = "/addNew";
              }else if (info.status=="208"){
                swal({
                  title: "Xatolik!",
                  text: "Malimot tahirlanmadi!",
                  icon: "error",
                  button: "Yopish",
                });
              }
            },
            error: function (error){
              swal({
                title: "Error!",
                text: "Malimot tahirlanmadi!",
                icon: "error",
                button: "Yopish",
              });
            }
          })
        }else {

          swal({
            title: "Xatolik!",
            text: "Maydonlarni to'ldiring!",
            icon: "warning",
            button: "Yopish",
          });

        }


      })
    })

  </script>
 

</body>

</html>