<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Mirzacho'l Axborot-kutubxona markazi | Tadbirlar</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

  <link rel="stylesheet" th:href="@{/css/all.min.css}">

  <link rel="stylesheet" th:href="@{/css/test.min.css}">

  <!-- Favicons -->
  <link href="assets1/img/favicon.png" rel="icon">
  <link href="assets1/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets1/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets1/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets1/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets1/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets1/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets1/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets1/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/assets1/css/style.css}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a th:href="@{/admin}" class="logo d-flex align-items-center">
<!--        <img src="assets1/img/logo.png" alt="">-->
        <span class="d-none d-lg-block">mirzacholakm.uz</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar text-center text-primary">
     <h3>Tadbirlar oynasi</h3>
    </div><!-- End Search Bar -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed " th:href="@{/admin}">-->
<!--          <i class="bi bi-grid"></i>-->
<!--          <span>Boshqaruv paneli</span>-->
<!--        </a>-->
<!--      </li>-->
      <!-- End Dashboard Nav -->

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed " th:href="@{/addbook}">
          <i class="bi bi-bookmarks-fill "></i>
          <span>Elektron kitoblar</span>
        </a>
      </li>
      <!-- End Profile Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/ijara/books}">
          <i class="bi bi-calendar-date-fill"></i>
          <span>Ijara kitoblar</span>
        </a>
      </li>
      <!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/qr/books}">
          <i class="bi bi-qr-code-scan"></i>
          <span>QR kodli kitoblar</span>
        </a>
      </li>
      <!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/addNew}">
          <i class="bi bi-globe2"></i>
          <span>Yangiliklar</span>
        </a>
      </li>

      <!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/bolim/one}">
          <i class="bi bi-journal-text"></i>
          <span>Bo'limlar</span>
        </a>
      </li>

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed " data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">-->
<!--          <i class="bi bi-journal-text "></i><span>Bo'limlar</span><i class="bi bi-chevron-down ms-auto"></i>-->
<!--        </a>-->
<!--        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">-->
<!--          <li>-->
<!--            <a th:href="@{/bolim/one}">-->
<!--              <i class="bi bi-circle"></i><span>Abonement va foydalanuvchilarga xizmat ko‘rsatish xizmati</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a th:href="@{/bolim/two}">-->
<!--              <i class="bi bi-circle"></i><span>Axborot-bibliografiya xizmati</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a th:href="@{/bolim/three}">-->
<!--              <i class="bi bi-circle"></i><span>Fondlarni to‘ldirish, saqlash ishlov berish xizmati</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a th:href="@{/bolim/four}">-->
<!--              <i class="bi bi-circle"></i><span>Axborot kommunikatsiya texnalogiyalari va raqamlashtirish xizmati</span>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>-->
      <!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed bg-primary text-white" th:href="@{/tadbirlar}">
          <i class="bi bi-calendar-event-fill text-white"></i>
          <span>Tadbirlar</span>
        </a>
      </li>
      <!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/contact-us-panel}">
          <i class="bi bi-geo-alt"></i>
          <span>Manzil</span>
        </a>
      </li><!-- End Biz bilan bog'lanish Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/about-uz-panel}">
          <i class="bi bi-microsoft-teams"></i>
          <span>Biz haqimizda</span>
        </a>
      </li>
      <!-- End Biz haqimizda Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/users}">
          <i class="bi bi-microsoft-teams"></i>
          <span>Users</span>
        </a>
      </li>
      <!-- End Users Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/ijaraberilgan}">
          <i class="bi bi-microsoft-teams"></i>
          <span>Ijaraga berilgan kitoblar</span>
        </a>
      </li>
      <!-- End Users Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed " th:href="@{/parol}">
          <i class="bi bi-key-fill "></i>
          <span>Parol</span>
        </a>
      </li>
    </ul>
  </aside>
  <!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Tadbir joylash</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Home</a></li>
          <li class="breadcrumb-item active">Tadbir joylash</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->

    <!-- =================== go jadval ==================== -->

    <section id="jadval">
      <div class="row">
        <div class="headers text-center text-primary mb-2">
          <h2>Bazaga kitob joylash</h2>
        </div>
        <div class="col-lg-12">
          <button class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#insert">Tadbir qo'shish</button>
          <div class="scrols" style="overflow-x: scroll; max-width: 100%; min-width: 300px;">
            <table class="table table-bordered border-primary mr-5 text-center" id="table1"
                   style="min-width: max-content;">
              <thead>
              <tr class="bg-primary text-white">
                <th scope="col">ID</th>
                <th scope="col">Sarlavha</th>
                <th scope="col" style="display: none">Text</th>
                <th scope="col">Sana</th>
                <th scope="col">Holat</th>
                <th scope="col">Muqova</th>
                <th scope="col">Muqova 1</th>
                <th scope="col">Muqova 2</th>
                <th scope="col">Muqova 3</th>
                <th scope="col">Buttons</th>
              </tr>

              </thead>
              <tbody id="tbody">
               <tr th:each = "tadbir : ${Tadbirlar}" style="height: 100px; overflow: hidden">
                 <td th:text = "${tadbir.id}"></td>
                 <td th:text = "${tadbir.sarlavha}" style="overflow: hidden; width: 200px; height: 100px;"></td>
                 <td th:text = "${tadbir.text}" style="overflow: hidden; width: 200px; height: 100px; display: none"></td>
                 <td th:text = "${tadbir.sana}"></td>
                 <td th:text = "${tadbir.holat}"></td>
                 <td style="width: 50px; height: 80px"> <img th:src="@{${'/tadbirlar/img/'+tadbir.id}}" class="card-img-top" alt="rasm" width="100%" height="100%"> </td>
                 <td style="width: 50px; height: 80px"> <img th:src="@{${'/tadbirlar1/img/'+tadbir.id}}" class="card-img-top" alt="rasm" width="100%" height="100%"> </td>
                 <td style="width: 50px; height: 80px"> <img th:src="@{${'/tadbirlar2/img/'+tadbir.id}}" class="card-img-top" alt="rasm" width="100%" height="100%"> </td>
                 <td style="width: 50px; height: 80px"> <img th:src="@{${'/tadbirlar3/img/'+tadbir.id}}" class="card-img-top" alt="rasm" width="100%" height="100%"> </td>
                 <td>
                   <button type="button" class="btn btn-success" id="btnEdit" data-bs-toggle="modal" data-bs-target="#edit">Tahirlash</button>
                   <button type="button" class="btn btn-warning" id="chiqarish">Bosh oynaga chiqarish</button>
                   <button type="button" class="btn btn-danger" id="btnDelete">O'chirish</button>
                 </td>
               </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </section>

    <!-- =================== end jadval ==================== -->

    <!-- ======================= Qo'shish Modal ================== -->

    <div class="modal fade " id="insert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true" style="box-shadow: 50px 50px 100px rgba(0 ,0,0,0);">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-primary">Tadbir qo'shish</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="qoshishText">
            <form id="inserForm">
              <div class="row">

                <div class="col-lg-6">
                  <div class="user my-3 text-left">
                    <label class="text-primary">- Sarlavha</label>
                    <div class="input-group">
                      <input class="form-control" type="text" id="sarlavha" name="sarlavha" placeholder="Sarlavhani kiriting!"
                             required>
                    </div>
                  </div>

                  <div class="user my-3 text-left">
                    <label class="text-primary">- Sana!</label>
                    <div class="input-group">
                      <input class="form-control" type="date" id="sana" name="sana" required>
                    </div>
                  </div>

                  <div class="user my-3 text-left">
                    <label class="text-primary">- Tadbir muqovasi!</label>
                    <div class="input-group">
                      <input class="form-control" type="file" id="tadbirMuqova" name="tadbirMuqova" required>
                    </div>
                  </div>

                </div>
                <div class="col-lg-6">

                  <div class="user my-3 text-left">
                    <label class="text-primary">- Muqova 1</label>
                    <div class="input-group">
                      <input class="form-control" type="file" id="muqova1" name="muqova1" required>
                    </div>
                  </div>

                  <div class="user my-3 text-left">
                    <label class="text-primary">- Muqova 2</label>
                    <div class="input-group">
                      <input class="form-control" type="file" id="muqova2" name="muqova2" required>
                    </div>
                  </div>

                  <div class="user my-3 text-left">
                    <label class="text-primary">- Muqova 3</label>
                    <div class="input-group">
                      <input class="form-control" type="file" id="muqova3" name="muqova3" required>
                    </div>
                  </div>


                </div>
              </div>
              <div class="row">
                <div class="col-12">

                  <div class="user my-3 text-left">
                    <label for="text" class="text-primary"> - Text</label>
                    <div class="form-floating">
                      <textarea class="form-control" placeholder="Leave a comment here" id="text" name="text"></textarea >
                    </div>
                  </div>
                </div>
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="close" data-bs-dismiss="modal" >Close</button>
            <button type="button" class="btn btn-primary" id="qoshBtn">Qo`shish</button>
          </div>
        </div>
      </div>
    </div>

    <!-- ======================= end Edit Modal ================== -->

    <!-- ======================= Qo'shish Modal ================== -->

    <div class="modal fade " id="edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true" style="box-shadow: 50px 50px 100px rgba(0 ,0,0,0);">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-primary">Tadbir qo'shish</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="EditText1">
            <form id="editForm">
              <div class="row">

                <div class="col-lg-6">
                  <div class="user my-3 text-left">
                    <label class="text-primary">- Sarlavha</label>
                    <div class="input-group">
                      <input class="form-control" type="text" id="editSarlavha" name="editSarlavha" placeholder="Sarlavhani kiriting!"
                             required>
                    </div>
                  </div>

                  <div class="user my-3 text-left">
                    <label class="text-primary">- Sana!</label>
                    <div class="input-group">
                      <input class="form-control" type="date" id="editSana" name="editSana" required disabled>
                    </div>
                  </div>

                  <div class="user my-3 text-left">
                    <label class="text-primary">- Tadbir muqovasi!</label>
                    <div class="input-group">
                      <input class="form-control" type="file" id="editMuqova" name="editMuqova" required>
                    </div>
                  </div>

                </div>
                <div class="col-lg-6">

                  <div class="user my-3 text-left">
                    <label class="text-primary">- Muqova 1</label>
                    <div class="input-group">
                      <input class="form-control" type="file" id="editMuqova1" name="editMuqova1" required>
                    </div>
                  </div>

                  <div class="user my-3 text-left">
                    <label class="text-primary">- Muqova 2</label>
                    <div class="input-group">
                      <input class="form-control" type="file" id="editMuqova2" name="editMuqova2" required>
                    </div>
                  </div>

                  <div class="user my-3 text-left">
                    <label class="text-primary">- Muqova 3</label>
                    <div class="input-group">
                      <input class="form-control" type="file" id="editMuqova3" name="editMuqova3" required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">

                  <div class="user my-3 text-left">
                    <label for="text" class="text-primary"> - Text</label>
                    <div class="form-floating">
                      <textarea class="form-control" placeholder="Leave a comment here" id="editText" name="editText" rows="100"></textarea >
                    </div>
                  </div>
                </div>
              </div>
              <input type="text" style="display: none" id="idEdit" name="idEdit">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="editClose" data-bs-dismiss="modal" >Yopish</button>
            <button type="button" class="btn btn-primary" id="editBtn">Tahirlash</button>
          </div>
        </div>
      </div>
    </div>

    <!-- ======================== delete modal ======================== -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; <strong><span>mirzacholakm.uz 2022</span></strong>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script th:src="@{/js/jquery.min.js}"></script>

  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

  <script th:src="@{/js/test.min.js}"></script>

  <script th:src="@{/js/demo.js}"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/purecounter/purecounter_vanilla.js}"></script>
  <script th:src="@{/assets/vendor/aos/aos.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>
  <script th:src="@{/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
  <script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/waypoints/noframework.waypoints.js}"></script>
  <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/assets1/js/main.js}"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script type="text/javascript">

    var baseUrl = window.location.origin;

    var data0,data01;
    var data123

    $("#table1").on("click","tbody tr #btnDelete", function (e){
      $tr=$(this).closest('tr');
      data0 = $tr.children("td").map(function (){
        return $(this).text();
      }).get();
    });

    $("#table1").on("click","tbody tr #chiqarish", function (e){
      $tr=$(this).closest('tr');
      data01 = $tr.children("td").map(function (){
        return $(this).text();
      }).get();
    });

    $(document).ready(function (){
      $(document).on("click","#qoshBtn",function (){

        var sarlavha = $('#sarlavha').val();
        var text = $('#text').val();
        var sana = $('#sana').val();
        var muqova = $('#tadbirMuqova').val();
        var muqova1 = $('#muqova1').val();
        var muqova2 = $('#muqova2').val();
        var muqova3 = $('#muqova3').val();
        var muqova4 = $('#muqova4').val();

        if (sarlavha!=="" && text!=="" && sana!=="" && muqova!=="" && muqova1!=="" && muqova2!=="" && muqova3!==""){

        var from=$('#inserForm')[0];
        var data1=new FormData(from);

          $.ajax({
            url:baseUrl+"/api/tadbir/add",
            type: 'POST',
            enctype: 'multipart/form-data',
            data: data1,
            processData: false,
            contentType: false,
            cache: false,
            success: function (data , status , info){
              if(info.status=="200"){
                swal({
                  title: "Success Full",
                  text: "Tadbir muvaffaqiyatli qo'shildi!",
                  icon: "success",
                  buttons: true,
                  dangerMode: true,
                })
                        .then((willDelete) => {
                          if (willDelete) {
                            clear();
                            $("#insert").modal('hide');
                            window.location = "/tadbirlar";
                          }
                        });
              }
              else if(info.status=="208"){
                swal({
                  title: "Warning",
                  text: "Bundat radbir mavjud!",
                  icon: "error",
                  buttons: true,
                  dangerMode: true,
                });
              }
            },
            error: function (error){
              swal({
                title: "Warning"+error,
                text: "Xatolik!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
              });
              console.log(error);
            }
          })
        }else{
          swal({
            title: "Warning",
            text: "Maydonlarni to'ldiring!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          });
        }

      })
    })

    function clear(){
      $('#sarlavha').val("");
      $('#text').val("");
      $('#sana').val("");
      $('#tadbirMuqova').val("");
      $('#muqova1').val("");
      $('#muqova2').val("");
      $('#muqova3').val("");
      $('#muqova4').val("");
    }

    $("#table1").on("click","tbody tr #btnEdit", function (e){
      $tr=$(this).closest('tr');
      var data12 = $tr.children("td").map(function (){
        return $(this).text();
      }).get();

      if (data12[0]!=null){
        $('#idEdit').val(data12[0]);
        $('#editSarlavha').val(data12[1]);
        $('#editText').val(data12[2]);
        $('#editSana').val(data12[3]);
      }
    });

    $(document).ready(function (){
      $(document).on("click","#editBtn", function (){

        var sarlavha = $('#editSarlavha').val();
        var text = $('#editText').val();
        var sana = $('#editSana').val();
        var muqova = $('#editMuqova').val();
        var muqova1 = $('#editMuqova1').val();
        var muqova2 = $('#editMuqova2').val();
        var muqova3 = $('#editMuqova3').val();

        if (sarlavha!=="" && text!==""){

          var from=$('#editForm')[0];
          var data1=new FormData(from);

          $.ajax({
            url:baseUrl+"/api/tadbir/edit",
            type: 'PUT',
            enctype: 'multipart/form-data',
            data: data1,
            processData: false,
            contentType: false,
            cache: false,
            success: function (data , status , info){
              if (info.status=="200"){
                swal({
                  title: "Success full",
                  text: "Tadbir muvafaqiyatli tahirlandi!",
                  icon: "success",
                  buttons: true,
                  dangerMode: true,
                })
                        .then((willDelete) => {
                          if (willDelete) {
                            window.location="/tadbirlar";
                          }
                        });
              }else if (info.status=="208"){
                swal({
                  title: "Xatolik!",
                  text: "Malimot tahirlanmadi!",
                  icon: "error",
                  button: "Yopish",
                });
              }
            },
            error: function (error){
              swal({
                title: "Error! "+error,
                text: "Malimot tahirlanmadi!",
                icon: "error",
                button: "Yopish",
              });
            }
          })

        }else{
          swal({
            title: "Warning",
            text: "Maydonlarni to'ldiring!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          });
        }
      })
    })


    $(document).ready(function (){
      $(document).on("click","#btnDelete", function (){
        swal({
          title: "Delete",
          text: "Malumotni o'chirmoqchimisiz!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
                .then((willDelete) => {
                  if (willDelete) {
                    $.ajax({
                      url: baseUrl+"/api/tadbir/delete/"+data0[0]+"",
                      type: "DELETE",
                      success: function (){
                        window.location = "/tadbirlar";
                      },
                      error: function (error){
                        swal({
                          title: "Error " +error,
                          icon: "error",
                          buttons: true,
                          dangerMode: true,
                        });
                      }
                    })
                  }
                });
      })
    })

    $("#table1").on("click","tbody tr #chiqarish", function (e){
      $tr=$(this).closest('tr');
      data123 = $tr.children("td").map(function (){
        return $(this).text();
      }).get();
    });

    $(document).ready(function (){
      $(document).on("click","#chiqarish", function (){
        swal({
          title: "Bosh oynaga chiqarilsinmi?",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
                .then((willDelete) => {
                  if (willDelete) {
                    $.ajax({
                      url: baseUrl + "/api/select/tadbir/"+data123[0],
                      type: 'PUT',
                      enctype: 'multipart/form-data',
                      processData: false,
                      contentType: false,
                      cache: false,
                      success: function (data , status , info){
                        if (info.status=="200"){
                          window.location = "/tadbirlar";
                        }else if (info.status=="208"){
                          swal({
                            title: data,
                            text: "Bosh oynaga chiqarilmadi!",
                            icon: "warning",
                            button: "Yopish",
                          });
                        }
                      },
                      error: function (error){
                        swal({
                          title: "Error! "+error,
                          text: "Malimot tahirlanmadi!",
                          icon: "error",
                          button: "Yopish",
                        });
                      }
                    })
                  }
                });
      })
    })

  </script>
</body>

</html>